[submodule "buck100-LM5163"]
	path = psu
	url = https://github.com/open-pe/buck100-LM5163
[submodule "x"]
	path = x
	url = https://github.com/CapnKernel/afork-kicad-parts.git
[submodule "afork-kicad-parts"]
	path = afork-kicad-parts
	url = https://github.com/CapnKernel/afork-kicad-parts.git
